@model RolesDeUsuario.Models.Maestro
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "Layout";
}
    <h1>Iniciar sesion</h1>
    <form action="~/Home/LoginM" method="post" class="form-boxM">
        <input type="number" asp-for="Ncontrol" required placeholder="Numero de control"/>
        <input type="password" asp-for="Contrasena" required />
        <input type="submit" value="Iniciar Sesion" />
        @Html.ValidationSummary()
    </form>