@model IEnumerable<RolesDeUsuario.Models.Maestro>
@{ Layout = "Layout"; }
    <table class="styled-table">
        <thead>
            <tr>
                <th>#</th>
                <th># Control</th>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var maestro in Model)
            {
                 <tr>
                    <td>@maestro.Id</td>
                    <td>@maestro.Ncontrol</td>
                    <td>@maestro.Nombre</td>
                 </tr>
            }
            <tr class="active-row">
                <td>Melissa</td>
                <td>5150</td>
                <td>1234</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <a href="~/Home/AddM">Añadir a un nuevo maestro</a>
