@model IEnumerable<RolesDeUsuario.Models.Maestro>
@{ Layout = "Layout"; }
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num. Control</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var maestro in Model)
            {
                 <tr>
                    <td>@maestro.Id</td>
                    <td>@maestro.Ncontrol</td>
                    <td>@maestro.Nombre</td>
                    <td>@maestro.Activo</td>
                     @if (maestro.Activo==1)
                     {
                         <td>
                             <a href="~/Home/LA/@maestro.Id/">Lista Alumnos</a>
                         </td>
                         <td>
                             <a href="~/Home/EditM/@maestro.Id">Modificar</a>
                         </td>
                         <td>
                             <a href="~/Home/ChangePass/@maestro.Id">Cambiar contraseña</a>
                         </td>
                     }
                 </tr>
            }
            <tr class="active-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a href="~/Home/AddM">Añadir a un nuevo maestro</a>

