@model ControlCuentasUsuario.Models.Cuentum
@{
    Layout = "Layout";
}
    <main>
        <h1>Activar cuenta</h1>
        <form action="~/Home/Activate" method="post">
            <input type="number" name="code" required />
            <input type="submit" name="activate" />
        </form>
    </main>
