@model ControlCuentasUsuario.Models.Cuentum
@{
    Layout = "Layout";
}
    <main>
        <h1>Activar cuenta</h1>
        <form action="~/Home/Activar" method="post">
            <input type="number" name="token" required />
            <input type="submit" name="activar" />
        </form>
    </main>
