<!DOCTYPE html>
<html>
<head>
    <link href="~/estiloIndex.css" rel="stylesheet" />
</head>
<body>
    <main>
        <table>
            <tr>
                <td>
                    <section>
                        <h1>Datos de la cuenta</h1>
                        <label>Nombre de la cuenta: </label> <br />
                        <label>@User.Claims.FirstOrDefault(x => x.Type == "Username").Value</label>
                        <label>Correo Electronico: </label> <br />
                        <label>@User.Claims.FirstOrDefault(x => x.Type == "Email").Value</label>
                        <h2>Opciones</h2>
                        <a href="~/Home/ChangePass">Cambiar contrasena</a>
                        <a href="~/Home/LogIn">Cerrar Sesion</a>
                        <a href="~/Home/DeleteAccount">Eliminar cuenta</a>
                    </section>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>