@model  ControlCuentasUsuario.Models.Cuentum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "Layout";
    }
    <main>
        <h1>Recuperar contrasena</h1>
        <p>Para recuperar su contrasena siga estos pasos:</p>
        <form class="form-box3" name="email" action="~/Home/RecoverPass" method="post">
            <input type="email" placeholder="Correo electronico" name="email" required/>
            <input type="submit" value="Enviar Correo" />
            <a href="~/Home/Login">Volver a Iniciar Sesion</a>
        </form>
    </main>