<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Skyblock Dream</title>
</head>
<body>
    <header>Skyblock Dream</header>
    <main>
        @RenderBody()
    </main>
    <footer>Narcizo Antonio Martinez Morneo -171G0236</footer>
</body>
</html>
