<html>
<head>
    <link href="~/estilos.css" rel="stylesheet"/>
    <title>Skyblock Dream</title>
</head>
<body> 
    <main>
        @RenderBody()
    </main>
    <footer>Narcizo Antonio Martinez Morneo - 171G0236</footer>
</body>
</html>
