
@{
    Layout = "Layout";
}

<h1>Capturar datos del la suma</h1>
<form method="post" action="~/Suma/Index">
    <fieldset>
        <legend>Datos del alumno:</legend>

        <label>Valor 1: </label><input name="d1" /><br />
        <label>Valor 2: </label><input name="d2" /><br />
        <input type="submit" value="Enviar"/>
    </fieldset>
</form>

