
@{
    Layout = "Layout";
}

<h1>Reptiles</h1>

<ul class="especies">
    <li>
        <div>
            <img src="especies/18.jpg">
        </div>
        <h2>Culebra de collar </h2>
        <p><label>Habitat: </label>Orillas de ríos</p>
        <p><label>Peso: </label>0.50kg</p>
        <p><label>Tamaño: </label>105cm</p>
        <p>Su veneno es débil y le sirve para digerir sus presas: ranas y peces.</p>
    </li>
    <li>
        <div>
            <img src="especies/30.jpg">
        </div>
        <h2>Lagartija </h2>
        <p><label>Habitat: </label>Rocas</p>
        <p><label>Peso: </label>0.08kg</p>
        <p><label>Tamaño: </label>20cm</p>
        <p>En verano, se calienta bajo el sol en los muros.</p>
    </li>
    <li>
        <div>
            <img src="especies/36.jpg">
        </div>
        <h2>Lución </h2>
        <p><label>Habitat: </label>Terrenos húmedos</p>
        <p><label>Peso: </label>0.13kg</p>
        <p><label>Tamaño: </label>50cm</p>
        <p>Aunque parezca una serpiente, se trata de un lagarto sin patas.</p>
    </li>
    <li>
        <div>
            <img src="especies/56.jpg">
        </div>
        <h2>Víbora </h2>
        <p><label>Habitat: </label>Montes</p>
        <p><label>Peso: </label>0.60kg</p>
        <p><label>Tamaño: </label>80cm</p>
        <p>Las crías salen de los huevos con los dientes venenosos perfectos.</p>
    </li>
</ul>




