body,html {
    height:100%;
}
body {
    margin: 0;
    padding: 0;
    background-image:url("../background.jpg");
    background-position:center;
    background-size:cover;
    align-content: center;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}
.form-box {
    padding:2px;
    background:#EEEEEE ;
    width:300px;
    height: 350px;
    align-content: center;
    text-align: center;
    font-family: 'Champagne & Limousines';
    color: black;
    filter:drop-shadow(0 0 0.75rem black);
}
    .form-box img {
        display: inline-block;
        margin: 20px 5px;
        align-content: center;
        padding: 14px 10px;
        height: 100px;
        width: 100px;
    }
    .form-box input[type=button] {
        display: inline-block;
        align-content: center;
        margin: 20px 5px;
        padding: 14px 10px;
        border-radius: 20px;
        border:0;
        height: 50px;
        width: 120px;
        cursor: pointer;
        text-align: center;
        outline: none;
        background: #009879;
        color: white;
        font-size: 15px;
        font-family: 'Champagne & Limousines';
        transition: 0.25s;
    }
        .form-box input[type=button]:hover {
            height: 70px;
            font-size: 25px;
            background: #2CECC5;
        }
.form-boxG {
    padding:2px;
    display:block;
    background: #EEEEEE;
    width: 300px;
    height: 350px;
    align-content: center;
    text-align: center;
    font-family: 'Champagne & Limousines';
    filter: drop-shadow(0 0 0.75rem black);
}
    .form-boxG input[type=text],
    .form-boxG input[type=password] {
        align-content: center;
        text-align: center;
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        padding: 14px 10px;
        width: 200px;
        border-radius: 10px;
        border-bottom: 2px solid #028F28;
        transition:0.25s;
    }
        .form-boxG input[type=text]:focus,
        .form-boxG input[type=password]:focus {
            width: 250px;
            background: #DBD8D8;
            border-bottom: 2px solid #12D145;
            outline:0;
        }
    .form-boxG input[type=submit] {
        display: inline-block;
        align-content: center;
        margin: 20px 5px;
        padding: 14px 10px;
        border-radius: 20px;
        border: 0;
        height: 50px;
        width: 120px;
        cursor: pointer;
        text-align: center;
        outline: none;
        background: #009879;
        color: white;
        font-size: 15px;
        font-family: 'Champagne & Limousines';
        transition: 0.25s;
    }

    .form-boxG input[type=submit]:hover {
        width: 180px;
        background: #2CECC5;
    }
a {
    color:#7289DA;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Champagne & Limousines';
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background: #D0D5D3;
}
.styled-table thead tr{
    background-color: #009879;
    color:#ffff;
    text-align:left;
}
.styled-table th,
.styled-table td{
    padding:12px 15px;
}
.styled-table tbody tr:nth-of-type(even) {
        background-color: #FFFFFF;
    }
.styled-table tbody ty:last-of-type{
    border-bottom:2px solid #009879;
}
.styled-table tbody tr.active-row{
    color:#009879;
}
.form-boxAM {
    display:block;
    margin:20px auto;
    padding: 2px;
    background: #EEEEEE;
    width: 350px;
    height: 450px;
    align-content: center;
    text-align: center;
    font-family: ' Champagne & Limousines';
    color: black;
    filter: drop-shadow(0 0 0.75rem black);
}
    .form-boxAM input[type=text],
    .form-boxAM input[type=password] {
        align-content: center;
        text-align: center;
        border: 0;
        background: none;
        display: block;
        margin: 0 auto;
        padding: 14px 10px;
        width: 200px;
        border-radius: 10px;
        border-bottom: 2px solid #009879;
        transition: 0.25s;
        outline: 0;
    }
.form-boxAM input[type=text]:focus,
.form-boxAM input[type=password]:focus {
    width: 250px;
    background: #DBD8D8;
    border-bottom: 2px solid #12D145;
    outline: 0;
}
    .form-boxAM input[type=submit] {
        display: inline-block;
        align-content: center;
        margin: 20px 5px;
        padding: 14px 10px;
        border-radius: 20px;
        border: 0;
        height: 50px;
        width: 120px;
        cursor: pointer;
        text-align: center;
        outline: none;
        background: #009879;
        color: white;
        font-size: 15px;
        font-family: 'Champagne & Limousines';
        transition: 0.25s;
    }
        .form-boxAM input[type=submit]:hover {
            width: 180px;
            background: #2CECC5;
        }
.form-boxVM {
    display: block;
    margin: 20px auto;
    padding: 2px;
    background: #EEEEEE;
    width: 420px;
    height: 450px;
    align-content: center;
    text-align: center;
    font-family: ' Champagne & Limousines';
    color: black;
    filter: drop-shadow(0 0 0.75rem black);
    color:white;
}
.form-boxVM input[type=submit] {
    display: inline-block;
    align-content: center;
    margin: 20px 5px;
    padding: 14px 10px;
    border-radius: 20px;
    border: 0;
    height: 50px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    outline: none;
    background: #009879;
    color: white;
    font-size: 15px;
    font-family: 'Champagne & Limousines';
    transition: 0.25s;
}
.AddT input[type=button] {
    align-content: center;
    margin: 20px 5px;
    padding: 14px 10px;
    border-radius: 20px;
    border: 0;
    height: 50px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    outline: none;
    background: #009879;
    color: white;
    font-size: 15px;
    font-family: 'Champagne & Limousines';
    transition: 0.25s;
}
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #009879;
    border-top: 2px solid #028F28;
    color: white;
    justify-content: center;
    align-items: center;
}
