<html>
<head>
    <title>Ejercicio 2</title>
</head>
<body>
    <h1>Materia: Programacion Web</h1>
    <h2>Narcizo Antonio Martinez Moreno</h2>
    @RenderBody()
    <footer>Fecha @DateTime.Now.ToShortDateString()</footer>
</body>
</html>