<!DOCTYPE html>
<html>
<head>
    <title>Roles de Usuario</title>
    <link href="~/estilos.css" rel="stylesheet"/>
</head>
<body>
    <h1>Grupos</h1>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Narcizo Antonio Martinez Moreno - 171G0236</p>
    </footer>
</body>
</html>