body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
table {
    font-display:block;
    background: #2C2F33;
    width: 300px;
    height: 400px;
    align-content: center;
    text-align: center;
    color: white;
    font-family: 'Champagne & Limousines';
    margin:20px auto;
    justify-content:center;
}
a {
    color: #7289DA;
    display: block;
    margin: 5px auto;
    margin: 5px auto;
}